.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #232f3e;
  position: relative;
  top: 0;
  z-index: 100;
}

.navbar__items {
  display: flex;
  justify-content: space-evenly;
}

.navbar__items > span {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar__image {
  width: 100px;
  object-fit: contain;
  margin-left: 6rem;
}
